# simple workflow to run k6 load test using a docker container
name: k6 BMI

on:
  workflow_dispatch:                  # manually triggered

jobs:

  k6_load_test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Pull Docker image for k6
      run: docker pull grafana/k6

    - name: Run k6 load test, capture report
      env:
        K6_CLOUD_TOKEN: ${{secrets.k6_cloud_token}}
      run: docker run -i -e K6_CLOUD_TOKEN=$k6_cloud_token grafana/k6 run --out cloud ./perf1.js 
